body{
    margin: 0;
    background-color: black;
}

.grid-container {
    display: grid;
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    gap: 1px;
}

.item {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#item1 {
    grid-column: span 2;
}

@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-rows: 30vh 50vh 50vh 50vh  ;
        grid-template-columns: 1fr;
        padding: 0px;
        gap: 1px;
    }
    
    #item1 {
        grid-column: span 1;
    }
    

    #item2 {
        display: none;
    }
  }
  