<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/variable.css">
    <title>Página web</title>
</head>
<body>

    <div class="grid-container">
        <div class="item" id="item1">
            <p>Project and practice</p>
        </div>
        <div class="item" id="item2">a</div>
        <div class="item" id="item3">a</div>
        <div class="item" id="item4">a</div>
        <div class="item" id="item5">a</div>
        
    </div>
    

</body>
</html>