<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/variable.css">
    <title>Página web</title>
</head>
<body>

    <div class="grid-container">
        <div class="item" id="item1">
            <p>Projects and practice</p>
        </div>
        <div class="item" id="item2">

        </div>
        <div class="item" id="item3">
            <p id="num">01</p>
            <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dignissimos asperiores ex eum, reprehenderit, deserunt numquam eligendi veritatis non earum autem dolores beatae amet. Dolor ipsam vero laborum facilis ratione.</p>
            <img src="/storage/imagenes/img1.png" alt="xd">
        </div>
        <div class="item" id="item4">
            <p id="num">02</p>
            <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dignissimos asperiores ex eum, reprehenderit, deserunt numquam eligendi veritatis non earum autem dolores beatae amet. Dolor ipsam vero laborum facilis ratione.</p>
            <img src="/storage/imagenes/img2.png" alt="xd">
        </div>
        <div class="item" id="item5">
            <p id="num">03</p>
            <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dignissimos asperiores ex eum, reprehenderit, deserunt numquam eligendi veritatis non earum autem dolores beatae amet. Dolor ipsam vero laborum facilis ratione.</p>
            <img src="/storage/imagenes/img3.png" alt="xd">
        </div>
        

    </div>
    

</body>
</html>